<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <nav>
    <a routerLink="home-component" routerLinkActive="active">Home</a>
    <a routerLink="about-component">About</a>
    <a routerLink="dashboard-component">Dashboard</a>
    <!--  -->
    <button (click)="routTo()">go to home</button>

  </nav>
  
  <router-outlet></router-outlet>
</div>
<!-- 
{id: 7, email: "michael.lawson@reqres.in", first_name: "Michael", last_name: "Lawson", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg"} -->

<table class="table table-dark " *ngIf="ItemsArray">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Email</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Avatar</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let item of ItemsArray" >
      <th>{{ item.id }}</th>
      <td>{{ item.email }}</td>
      <td>{{ item.first_name }}</td>
      <td>{{ item.last_name }}</td>
      <td>{{ item.avatar }}</td>
      <td>
    </tr>
   
  </tbody>
</table> 

